#wrap {
  margin: 0;
  padding: 0;
}
#header {
  height: 70px;
  margin: auto;
}
#header-top {
  height: 70px;
}
#banner,
#content1,
#content2,
#content3,
#content4,
#content5 {
  height: 100vh;
}
footer {
  height: 163px;
}
/* #footer-nav {
  height: 81.5px;
}
#footer-info {
  height: 81.5px;
} */

.container {
  max-width: 1400px;
  margin: auto;
}

/* contents */
#contents h2,
p {
  text-align: center;
}
.c1_left {
  width: 32.5%;
}
.c1_left li {
  position: relative;
  width: 100%;
  height: 266px;
}
.c1_left li + li {
  height: 193px;
}
.c1_center {
  width: 32.5%;
  height: 475px;
}
.c1_right {
  width: 32.5%;
}
.c1_rt {
  position: relative;
  width: 100%;
  height: 229px;
}
.c1_rb {
  position: relative;
  width: 100%;
  height: 226px;
}
.c2_area{
  height: 440px;
  margin-top: 60px;
}
.c2_left {
  width: calc((100% / 4) - 25px);
  height: 100%;
  box-sizing: border-box;
}
.c2_center{
  width: 50%;
  margin: 0 25px;
}
.c2_right {
  /* width: 320px; */
  width: calc((100% / 4) - 25px);
  height: 100%;
}


.c3_top ul li {
  /* width: 329px; */
  width: 23.5%;
  height: 198px;
}
.c3_bottom ul li {
  /* width: 329px; */
  width: 23.5%;
  height: 266px;
}
.c4_left {
  width: 708px;
  height: 473px;
}
.c4_right_top li {
  width: 322px;
  height: 224.5px;
}
.c4_right_bottom {
  width: 644px;
  height: 224.5px;
}
.c5_left li {
  width: 378px;
  height: 189px;
}
.c5_center {
  width: 480px;
  height: 412px;
}
.c5_right {
  width: 380px;
  height: 399.5px;
}
